// Variables
$main-color: #c12127;
$medium-color: #e81aa8;
$bottom-orange: #fa8717;
$bottom-purple: #b30ad2;
$light-color: #f4f4f4;
$lighter-color: #efefef;
$dark-color: #333;
$gradient-color: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
$gradient2-color: linear-gradient(to right, #e02aff, #c12127, #ff4b01, #fb8817);
